.App{
    font-family: fantasy;
}

.h1{
    font-size: 49px;
    font-weight: 700;
    margin: 10px 0px 7px 470px;
    color: gray;
}

.h3{
    border: 1px solid black;
    height: 34vh;
    max-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 7px;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 26px;
}

.bt{
    display: grid;
    place-items: center;
}

button{
    background-color: #FF9800;
    border-radius: 6px;
}

.s1{
    font-weight: 700;
}

.s2{
    margin-left: 7px;
}

button:hover{
    cursor: pointer;
}

.h3:hover{
    background-color: rgba(205, 201, 201, 0.107);
    
}

.h5:hover{
    cursor: pointer;
    color: rgb(39, 39, 104);
}

.h5{
    margin-left: 10px;
}

.hey{
    background-color: #FF9800;
    border-radius: 12px;
    height: 39px;
    margin: 19px;
    font-size: 23px;
}

.h0{
    display: flex;
    justify-content: space-between;
}